.body {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -200px;
  display: grid;
  grid-template-columns: 7% 20% 70% 3%;
}

.body__menubar {
  grid-column-start: 2;
  width: 80%;
  border-radius: 39px;
  background-color: #fdf9d8;
}
.body__menubar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.body__menubar ul li {
  display: flex;
  align-items: center;
}
.body__menubar ul li div {
  border-radius: 13px;
  background-color: #ffffff;
  padding: 10px 10px 10px;
}
.body__menubar ul li a {
  padding: 5%;
  color: #2e2e41;
}
.body__menubar ul li:hover {
  background-color: #5ab886;
  border-radius: 13px;
  width: 80%;
}
.body__menubar ul li:hover div {
  background-color: #5ab886;
}
.body__menubar ul li:hover a {
  color: #fff;
}

.body__gallery {
  padding: 10px 20px;
  display: grid;
  grid-template-rows: 9% 2% 89%;
}

.gallery__list {
  width: 95%;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: space-around;
  color: #2e2e41;
}
.gallery__list li {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery__list li:hover {
  background-color: #5ab886;
  border-radius: 13px;
}
.gallery__list li:hover a {
  color: #fff;
}

.gallery__images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery__images div {
  width: 20%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.gallery__images div img {
  border-radius: 24px;
}
.gallery__images div h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.29;
  color: #2e2e41;
  margin: 5%;
}

.icon--wrapper {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
}

.icon--wrapper:hover {
  background-color: #5ab886;
}

#sort--up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 6px;
  right: 6px;
}

#gallery__hr {
  opacity: 0.09;
}

@media screen and (max-width: 1200px) {
  .body {
    grid-template-columns: 5% 25% 65% 2%;
  }

  .gallery__images div {
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  .body {
    grid-template-columns: 5% 30% 60% 2%;
    top: -100px;
  }

  .gallery__images div {
    width: 45%;
  }

  #icon--wrapper {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 800px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body__gallery {
    width: 50%;
    grid-template-rows: 500px;
  }

  .body__menubar {
    width: 50%;
    height: 500px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
  }
  .gallery__list * {
    display: flex;
    justify-content: center;
  }
  .gallery__list li {
    width: 100%;
  }
  .gallery__list .icon--wrapper {
    width: 20px;
    height: 20px;
  }

  .gallery__images div {
    width: 100%;
  }
  .gallery__images div img {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .body__menubar {
    width: 60%;
    height: 500px;
  }
}/*# sourceMappingURL=body.css.map */